<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MPlexApp"
        android:allowBackup="true"
        android:banner="@mipmap/ic_app_launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MPlex"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity-alias
            android:name=".LaunchActivity"
            android:exported="true"
            android:targetActivity=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".TestActivity"
            android:screenOrientation="landscape" />

        <activity android:name=".MainActivity" />

        <activity
            android:name="com.skit.mplex.ui.play.PlayerActivity"
            android:screenOrientation="sensorLandscape" />
        <activity android:name="com.skit.mplex.ui.account.LoginActivity" />
        <activity android:name="com.skit.mplex.ui.details.DetailsActivity" />
    </application>

</manifest>